h1 {
  text-align: center;
}

.link {
  color: black;
}

.link:hover {
  color: black;
}

.cardTable {
  list-style-type: none;
  padding: 0;
  margin: auto;
  max-width: 720px;
}

.card {
  border: solid 2px rgb(6, 44, 114);
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.card:hover {
  border: solid 2px rgb(70, 130, 240);
  border-radius: 5px;
  padding: 30px;
  margin: 0;
  background-color: rgb(245, 241, 241);
}

.cardTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.cardOther {
  text-align: center;
}

.cardBody {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_list {
  text-align: center;
  padding: 20px;
  display: inline;
}

@media only screen and (max-width: 360px) {
  .cardTable {
    list-style-type: none;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    max-width: 350px;
  }
}
