h1 {
  text-align: center;
}

.cardTable {
  list-style-type: none;
  padding: 0;
  margin: auto;
  max-width: 720px;
}

.card {
  border: solid 2px rgb(6, 44, 114);
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.cardTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.cardOther {
  text-align: center;
}

.cardBody {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_div {
  text-align: center;
}
