.header {
  text-align: center;
  font-size: 80px;
  margin-bottom: 0;
  font-family: Bernard MT Condensed;
  letter-spacing: 5px;
  background-color: rgb(148, 205, 243);
  grid-area: title;
  padding: 0;
}

.link {
  color: black;
}

.link:hover {
  color: black;
}

.trail_tag {
  text-align: center;
  font-size: 20px;
  padding: 0 0 10px 0;
  background-color: rgb(148, 205, 243);
}

.login {
  text-align: center;
  display: block;
  background-color: transparent;
  border-radius: 50px;
  float: right;
  height: 80px;
  width: 90px;
  padding: 0;
}

.login_p {
  margin-right: 20px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid rgb(173, 170, 170);
}

.navitem {
  display: inline;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}

.navitem:active {
  display: inline;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  color: red;
}

li a:hover {
  color: rgb(6, 44, 170);
}

li a:active {
  text-decoration: underline;
  color: red;
}

@media only screen and (max-width: 360px) {
  /* .header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    font-family: Bernard MT Condensed;
    letter-spacing: 5px;
    background-color: rgb(148, 205, 243);
    grid-area: title;
    padding: 0;
  } */
  .login {
    text-align: center;
    display: block;
    background-color: transparent;
    border-radius: 50px;
    height: 50px;
    width: 60px;
    padding: 0;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    padding: 0;
  }
}
