.button_cont {
  text-align: center;
}
.login_button {
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: rgb(53, 155, 53);
  color: black;
  border-color: rgb(53, 155, 53);
  cursor: pointer;
}

.link {
  color: black;
}

.logout_button {
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: rgb(233, 67, 67);
  border-color: rgb(233, 67, 67);
  cursor: pointer;
}

.login_form {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

p {
  text-align: center;
  margin: 0;
}

.newuser_form {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

@media only screen and (max-width: 360px) {
  .newuser_form {
    display: flex;
    padding: 20px 0 20px 0;
    flex-direction: column;
  }
}
