.container {
  /* margin-left: 30px; */
  /* width: 100vw;
  grid-template-columns: 400px auto 150px;
  grid-template-rows: 1fr 3fr 0.5fr;
  grid-template-areas: "header header login", "main main comm_list",
    "main main comm_list", "footer footer footer"; */
}

.header {
  grid-area: header;
  background: red;
}

.login {
  grid-area: login;
}

.art_list {
  grid-area: main;
  background-color: rgb(51, 255, 0);
  margin: auto;
}

.comm_list {
  grid-area: comm_list;
  background-color: purple;
}

.footer {
  grid-area: footer;
}

.comment-icon {
  padding-right: 5px;
}

.up-arrow-icon {
  padding-right: 5px;
}

.comment-alt-icon {
}

.text-box {
  height: 100px;
  width: 100px;
}

.thumbs-div {
  padding: 5px 0 5px 5px;
}

.leftthumb {
  margin-right: 10px;
  cursor: pointer;
}

.rightthumb {
  margin-left: 10px;
  cursor: pointer;
}

.votesp {
  margin: 0;
  padding: 5px;
}

.icon_button {
  cursor: pointer;
}
