.container {
  /* margin-left: 30px; */
  /* width: 100vw;
  grid-template-columns: 400px auto 150px;
  grid-template-rows: 1fr 3fr 0.5fr;
  grid-template-areas: "header header login", "main main comm_list",
    "main main comm_list", "footer footer footer"; */
}

.header {
  grid-area: header;
  background: red;
  width: 400px;
  height: 90px;
}

.login {
  grid-area: login;
  background-color: blue;
}

.art_list {
  grid-area: main;
  background-color: rgb(51, 255, 0);
  max-width: 720px;
}

.comm_list {
  grid-area: comm_list;
  background-color: purple;
}

.footer {
  grid-area: footer;
}
