.container {
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 150px auto 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  grid-template-areas:
    "header header"
    "main  main"
    "footer  footer";

  padding: 0;
}

.header {
  grid-area: header;
  background: rgb(148, 205, 243);

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 70px;
  grid-template-areas: "blank title login";
}

.blank {
  grid-area: blank;
}

.title {
  grid-area: title;
}

.login {
  grid-area: login;
}

.art_list {
  grid-area: main;
}

.community_list {
  background-color: rgb(7, 5, 116);
}

.footer {
  grid-area: footer;
}

.comment-icon {
  padding-right: 5px;
}

.invalid {
  color: red;
  padding-top: 10px;
}

.up-arrow-icon {
  padding-right: 5px;
}

.comment-alt-icon {
}

.text-box {
  height: 100px;
  width: 100px;
}

.thumbs-div {
  padding: 5px 0 5px 5px;
}

.leftthumb {
  margin-right: 10px;
  cursor: pointer;
}

.rightthumb {
  margin-left: 10px;
  cursor: pointer;
}

.votesp {
  margin: 0;
  padding: 5px;
}

.icon_button {
  cursor: pointer;
}

.user_list {
  list-style-type: none;
  margin: auto;
}

.profile_pic {
  height: 120px;
  width: 120px;
}
