.user_list {
  text-align: center;
  list-style-type: none;
}

h1 {
  padding-left: 50px;
}

.text {
  padding-left: 20px;
  text-align: left;
}

.user_card {
  border-bottom: 1px purple solid;
  padding: 10px;
  text-align: center;
  margin-right: 0;
}

@media only screen and (max-width: 360px) {
  .user_list {
    text-align: center;
    list-style-type: none;
    padding: 0;
  }

  .user_card {
    border-bottom: 1px purple solid;
    text-align: center;
    padding: 0;
  }

  .text {
    padding-left: 20px;
    text-align: left;
    margin-top: 40px;
  }
}
